div[aria-labelledby='bonusModal'] .k-dialog-wrapper .k-dialog,
div[aria-labelledby='mainAfterLogin'] .k-dialog-wrapper .k-dialog {
  background: transparent;
}

div[aria-labelledby='bonusModal'].k-window,
div[aria-labelledby='mainAfterLogin'].k-window {
  background-color: transparent;
}

div[aria-labelledby='bonusModal'] .k-window-content {
  padding: 28px 19px 0px 20px;
  background: #ffffff;
  border-radius: 5px;
  height: 318px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

div[aria-labelledby='mainAfterLogin'] .k-window-content {
  padding: 15px 20px 2px;
  background: #f8f8f8;
  /* border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; */
  height: 30vh;
}

div[aria-labelledby='bonusModal'] .k-dialog-titlebar {
  border-color: transparent;
  color: #ffffff;
  background-color: transparent;
}

div[aria-labelledby='bonusModal'] .k-icon,
div[aria-labelledby='mainAfterLogin'] .k-icon {
  font-size: 24px;
}

div[aria-labelledby='bonusModal'] .k-i-x::before,
div[aria-labelledby='mainAfterLogin'] .k-i-x::before {
  content: '\e11c';
}

div[aria-labelledby='bonusModal'] .k-window-titlebar {
  padding: 0px 0 10px 0;
}

div[aria-labelledby='mainAfterLogin'] .k-dialog-titlebar {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-color: #000f34;
  color: #ffffff;
  background-color: #000f34;
  font-size: 15px;
}

div[aria-labelledby='mainAfterLogin'] .k-dialog-title {
  font-size: 15px;
}

div[aria-labelledby='mainAfterLogin']
  .k-dialog-button-layout-stretched
  .k-button {
  border: solid 1px #ffffff;
  background-color: #ffffff !important;
  border-width: 0;
}

div[aria-labelledby='mainAfterLogin'] .k-dialog-buttongroup {
  border-width: 0;
}
